.thumnail{
  width: 340px;
  height: 300px;
  border-radius: 10px;
}
.profile-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.cart{
  background-color: rgb(150, 145, 145);
  padding: 30px;
  border-radius: 20px;
}
.cart-text{
  display: flex;
  gap: 10px;
  align-items: center;
}